.lang-btn {
  cursor: pointer;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  color: #1e293b;
  padding: 3px 10px 3px 10px;
}

.clicked {
  color: #0284c7;
  border: 1px solid #0284c7;
  border-radius: 10px;
}
